.calendar {
    overflow: hidden;
}

.calendar th,
.calendar td {
    padding: 1em 2em;
}

.calendar th {
    background: #efefef;
}

.calendar td {
    text-align: center;
}

.calendar .today {
    font-weight: bold;
    border: 5px solid #efefef;
}

.month-selector th {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
}

.month-cell:hover {
    background: #efefef;
    cursor: pointer;
}

.select-month-title {
    font-weight: bold;
    background: #efefef;
}

.toggle-month {
    text-align: center !important;
}

.toggle-month:hover,
.week-day:hover {
    cursor: pointer;
    background: #efefef;
}

.arrow-icon {
    padding: 5px 0 0 5px;
}

.calendar .selected-day {
    background: lawngreen;
}

.paper {
    padding: .25em 1.5em 1.5em 1.5em;
    display: 'flex';
    overflow: 'auto';
    flex-direction: 'column'
}

svg.MuiSvgIcon-root {
    transition: 250ms ease;
}
svg.MuiSvgIcon-root:hover {
    cursor: pointer;
    opacity: .5;
}